{% extends 'accounts/account_layout.html' %}


{% block right_tags %}
    {% for tag in tag_list %}
        {% if forloop.counter <= half_tag_count %}
            <li>
                <div class="chip">
                    <a href="/accounts/tags/{{ tag.id }}/posts/">{{ tag.name }}</a>
                </div>
            </li>
        {% endif %}
    {% empty %}
        <p>Sorry, no tags yet</p>
    {% endfor %}
{% endblock %}

{% block left_tags %}
    {% for tag in tag_list %}
        {% if forloop.counter > half_tag_count %}
            <li>
                <div class="chip">
                    <a href="/accounts/tags/{{ tag.id }}/posts/">{{ tag.name }}</a>
                </div>
            </li>
        {% endif %}
    {% endfor %}
{% endblock %}


{% block content %}

    <div id="profile-page-wall-share" class="row">
        <div class="col s12">
            <ul class="tabs tab-profile z-depth-1 light-blue" style="width: 100%;">
                <li class="tab col s9" style="width: 100%;"><a class="white-text waves-effect waves-light active"
                                                               href="#UpdateStatus"><i
                        class="mdi-editor-border-color"></i>
                    Update Status</a>

                </li>
                <div class="indicator" style="right: -1px; left: 354px;"></div>
            </ul>
            <div id="UpdateStatus" class="tab-content col s12  grey lighten-4" style="display: block;">
                <form action="/accounts/index/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-2">
                            <img src={{ avatar_url }} alt="" class="circle responsive-img valign profile-image-post">
                        </div>
                        <div class="input-field col-sm-10">
                            {{ post_create_form.title }}
                            <label for={{ post_create_form.title.id_for_label }}>Subject</label>
                        </div>
                        <div class="input-field col-sm-10">
                            {{ post_create_form.description }}
                            <label for={{ post_create_form.description.id_for_label }}>An introduction sentence for your
                                text...</label>
                        </div>
                        <div class="input-field col-sm-10">
                            {{ post_create_form.text }}
                            <label for={{ post_create_form.text.id_for_label }}>Text...</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6 share-icons">
                            <!--<a href="#"><i class="mdi-image-camera-alt"></i></a>
                            <a href="#"><i class="mdi-action-account-circle"></i></a>
                            <a href="#"><i class="mdi-hardware-keyboard-alt"></i></a>
                            <a href="#"><i class="mdi-communication-location-on"></i></a>-->
                        </div>
                        <div class="col s12 m6 right-align">
                            <!-- Dropdown Trigger -->

                            <div class="file-field input-field">
                                <div class="btn">
                                    <span for="{{ post_create_form.image.id_for_label }}"><i
                                            class="fa fa-cloud-upload"></i> {{ post_create_form.image.label }}</span>
                                    {{ post_create_form.image }}
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>

                            <input type="hidden" name="privacy" value="private">
                            <a name="privacy" class="dropdown-toggle waves-effect waves-light btn"
                               data-toggle="dropdown" href="#"><i class="fa fa-lock"></i> Private</a>

                            <ul class="dropdown-menu" role="menu">
                                {% for choice in post_create_form.privacy.field.choices %}
                                    <li><a href="#!"><i class="fa fa-{{ choice.1 }}"></i> {{ choice.0 }}</a></li>
                                {% endfor %}
                            </ul>

                            <button class="waves-effect waves-light btn" type="submit"><i class="fa fa-send left"></i>Post
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Blog Entries Column -->
    <div id="profile-page-wall-posts" class="card">
        <div class="col-sm-12">
            {% for post in post_list %}
                <div id="profile-page-wall-post" class="card">
                    <div class="card-profile-title">
                        <div class="row">
                            <div class="col-sm-1">
                                <img src={{ avatar_url }} class="circle responsive-img valign profile-post-uer-image">
                            </div>
                            <div class="col-sm-10">
                                <p class="grey-text text-darken-4 margin">{{ post.author }}</p>
                                <span class="grey-text text-darken-1 ultra-small">Shared {{ post.privacy }}ly - {{ post.created_at }}</span>
                            </div>
                            <div class="col-sm-1 right-align">
                                <i class="mdi-navigation-expand-more"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>{{ post.description }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-image profile-medium">
                        <img src={{ post.image.url }} alt="sample"
                             class="responsive-img profile-post-image profile-medium">
                        <span class="card-title">{{ post.title }}</span>
                    </div>
                    <div class="card-content">
                        <p>{{ post.text }}</p>
                    </div>
                    <div class="card-action">
                        <div class="col-sm-4 card-action-share">
                            <p><i class="fa fa-tags"></i>
                                Tags:
                                {% for tag in post.tags.all %}
                                    <div class="chip">
                                        <a href="/accounts/tags/{{ tag.id }}/posts/"><span
                                                class="label label-primary ">{{ tag.name }}</span></a>
                                    </div>
                                {% endfor %}
                            <i class="fa fa-comment"></i> <a href="#" type="button" data-toggle="collapse"
                                                             data-target="#comments">{{ post.comments.all.count }}</a>
                            </p>
                        </div>


                        <div class="input-field col-sm-8 margin">
                            <form action="/accounts/index/" method="post">{% csrf_token %}
                                <input type="hidden" name="post_id" value="{{ post.id }}">
                                <label for={{ comment_create_form.text.id_for_label }} class="">Comments</label>
                                {{ comment_create_form.text }}
                                <button class="btn waves-effect waves-light" type="submit">Submit
                                    <i class="mdi-content-send right"></i>
                                </button>
                            </form>

                        </div>
                    </div>
                    <!-- list of comments collapsable-->
                    <div id="comments" class="collapse">
                        `   {% for comment in post.comments.all %}
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Commented by {{ comment.author }} - <i
                                        class="fa fa-calendar"></i>{{ comment.created_at }} </span>
                                {{ comment.text }}
                            </div>
                            <!--<div class="card-action">
                                <a href="#">This is a link</a>
                                <a href="#">This is a link</a>
                            </div>-->
                        </div>
                    {% endfor %}
                    </div>
                </div>

            {% empty %}

                <p>Sorry, no posts yet</p>
            {% endfor %}

        </div>
    </div>
    <ul class="pagination">

        {% if post_list.has_previous %}
            <li class="waves-effect">
                <a href="?page={{ post_list.previous_page_number }}"><i class="fa fa-chevron-left"></i></a>
            </li>
        {% else %}
            <li class="waves-effect">
                <a><i class="fa fa-chevron-left"></i></a>
            </li>
        {% endif %}


        {% for num in num_of_pages %}
            {% if num == post_list.number %}
                <li class="active"><a>{{ num }}</a></li>
            {% else %}
                <li class="waves-effect"><a href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        {% if post_list.has_next %}
            <li class="waves-effect">
                <a href="?page={{ post_list.next_page_number }}"><i class="fa fa-chevron-right"></i></a>
            </li>
        {% else %}
            <li class="waves-effect">
                <a><i class="fa fa-chevron-right"></i></a>
            </li>
        {% endif %}

    </ul>
{% endblock %}


